@model Status
@{ 
    ViewData["Title"] = "Status";
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
       <label class="font-weight-bold">Books In Local Library:</label> @Model.CountBookInLocalRepository
        </div>
        <div class="col-sm-4">
            <label class="font-weight-bold">Books In DataBase:</label> @Model.CountBookInDataBase
</div>
        <div class="col-sm-4">
            <label class="font-weight-bold">State Library:</label> @Model.StateScanner
        </div>
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.TimeElapsed))
    {
        <div class="row">
            <div class="col-sm">
                <label class="font-weight-bold">Scanned for:</label> @Model.TimeElapsed
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-primary btn-block" asp-action="Scan">Scan</a>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-danger btn-block @(Model.StateScanner.ToString()=="InProgress"?"":"disabled")" asp-action="CancelScanning">Cancel Scanning</a>
        </div>
    </div>
</div>